body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(0, 0, 0);
    color:rgb(248, 245, 245);  
}
#mainMenu{
    width: 30%;
    border: 3px solid darkblue;
    border-radius: 10px; 
    background: linear-gradient(184deg, rgba(255, 255, 255, 0.46) 0%, rgba(0,212,255,0) 48%); 
    padding: 30px;
    margin-left: 34%;
}

.dark-mode.mainMenu {
    background: linear-gradient(184deg, rgba(255, 255, 255, 0.46) 0%, rgba(140, 141, 141, 0) 48%);
  }


h4{
    text-align: center;
    font-size:medium;
}
#generatedPassword{
    border:1px solid darkblue;
    height: 20px;
    width:45%;
    display:inline-block;    
}

p label{
    float: left;
}
#buttonContainer{
    margin: 30px;
    text-align: center;
}
h2{
    margin-top: 7%;
    text-align: center;
}

button{
    
    border: 2px solid darkblue;
    border-radius: 5px; 
    width:100px;
    height:30px;
   
}

footer{
    clear: both;
    border-top: 1px solid #c7c6c6; 
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  footer p, a{
    margin-top: auto;
    margin-left: 0.2em;
    color: var(--white);
    align-items: center;
    text-decoration: none;
  }
  
  .dark-mode-toggle {
    position: fixed;
    top: 45px;
    right: 0%;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    color: #ffffff;
}
  
  body.dark-mode .fa-sun.dark-mode-toggle {
    font-size: 25px;
    color: rgb(0, 0, 0);
  }

  .fa-moon.dark-mode-toggle {
    font-size: 25px;
    color: #ffffff;
  }

  .dark-mode {
    background-color: #ffffff;
    color: #000000;
  }
 
  body.dark-mode footer {
    color: #000000; /* Cor do texto no modo escuro */
    border-top-color: #000000; /* Cor da borda no modo escuro */
  }
  
  body.dark-mode footer p, body.dark-mode .footer a {
    color: #000000; /* Cor do texto no modo escuro */
  }